.basicCard {
  margin: 0;
}

.cardContent {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-bottom: 12px;
}

@media (prefers-color-scheme: dark) {
  .radicalCardTitle {
    color: white;
  }
}
