.subjDiv,
.radicalDivWithImg {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

// TODO: decrease size a bit
.radicalDivWithImg.buttonLink,
.subjDiv.buttonLink {
  width: 4rem;
  height: 4rem;
}

.subjDiv .subjText {
  margin: 0;
  font-size: 2rem;
  color: white;
}

// TODO: decrease size a bit
.subjDiv.buttonLink .subjText {
  font-size: 2.66rem;
}

.radicalDivWithImg {
  background-color: var(--wanikani-blue);
  padding: 4px;

  img {
    width: 100%;
    filter: brightness(0) invert(1);
  }
}

.radStyle {
  background-color: var(--wanikani-blue);
}

.kanjiStyle {
  background-color: var(--wanikani-pink);
}

.lockedSubj {
  background-color: var(--ion-color-step-300);
}
