// TODO: add other necessary global styles for items that can't easily be modified with styled components

.custom-alert .alert-wrapper {
  border-radius: 10px;
  .alert-button {
    border-radius: 16px;
    &:focus {
      outline: 2px solid white;
      --outline: 2px solid white;
    }
  }

  @media (prefers-color-scheme: dark) {
    .alert-message {
      color: white;
    }
    .alert-button {
      color: white;
      background-color: var(--light-greyish-purple);
    }
  }
}

ion-toast {
  z-index: 2000 !important;
}

ion-toast.custom-toast.warning-toast {
  --background: var(--ion-color-warning);
  --color: black;
  transform: translateY(-85px);

  &::part(button) {
    border-left: 1px solid black;
    color: black;
    font-size: 15px;
  }
}
