html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;

  --ion-default-font: "Poppins", sans-serif;
  --japanese-font-family: "Zen Kaku Gothic New", sans-serif;
  --japanese-with-english-fallback-font-family: "Zen Kaku Gothic New", "Poppins",
    sans-serif;

  ion-app {
    overflow: -moz-hidden-unscrollable !important;
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);

    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  }
}

body {
  font-family: "Poppins", sans-serif;
  // to avoid absolute positioning issues based on viewport
  position: relative;
  color: var(--text-color);
}

div.modal-container {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;

  color: var(--text-color);

  &::selection {
    background-color: var(--ion-color-primary);
    color: black;
  }

  &::-moz-selection {
    background-color: var(--ion-color-primary);
    color: black;
  }
}

// prevents input cursor being in wrong position on ios
body[data-scroll-locked].modal-open {
  position: fixed !important;
}

div.modal-container {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

// prevents input cursor being in wrong position on ios
body[data-scroll-locked].modal-open {
  position: fixed !important;
}

div.modal-container {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

a {
  color: var(--link-text-color);
}

p::selection {
  background-color: var(--ion-color-primary);
  color: black;
}

input::selection {
  background-color: var(--ion-color-primary);
  color: black;
}

ion-toast {
  z-index: 2000 !important;
}

// keeps toast region from being on same level as ion-app, weird bug where can't apply in normal styled components
div[role="region"] {
  position: absolute;
  z-index: 2000;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  pointer-events: none;
  touch-action: none;
}

ion-toast.custom-toast.warning-toast {
  --background: var(--ion-color-warning);
  --color: black;
  transform: translateY(-85px);

  &::part(button) {
    border-left: 1px solid black;
    color: black;
    font-size: 15px;
  }
}
