// TODO: add other necessary global styles for items that can't easily be modified with styled components

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;

  --ion-default-font: "Poppins", sans-serif;
  --japanese-font-family: "Zen Kaku Gothic New", sans-serif;
  --japanese-with-english-fallback-font-family: "Zen Kaku Gothic New", "Poppins",
    sans-serif;

  ion-app {
    overflow: -moz-hidden-unscrollable !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  // to avoid absolute positioning issues based on viewport
  position: relative;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;

  color: var(--text-color);

  &::selection {
    background-color: var(--ion-color-primary);
    color: black;
  }
}

a {
  color: var(--link-text-color);
}

p::selection {
  background-color: var(--ion-color-primary);
  color: black;
}

input::selection {
  background-color: var(--ion-color-primary);
  color: black;
}

ion-toast {
  z-index: 2000 !important;
}

// keeps toast region from being on same level as ion-app, weird bug where can't apply in normal styled components
div[role="region"] {
  position: fixed;
  z-index: 2000;
}

ion-toast.custom-toast.warning-toast {
  --background: var(--ion-color-warning);
  --color: black;
  transform: translateY(-85px);

  &::part(button) {
    border-left: 1px solid black;
    color: black;
    font-size: 15px;
  }
}
