/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

:root {
  --ion-background-color: var(--background-color);
  --ion-text-color: var(--text-color);
  /* start - temp dark colors below until light mode is implemented - start */

  --ion-color-step-50: #3a2d44;
  --ion-color-step-100: #45384e;
  --ion-color-step-150: #4f4358;
  --ion-color-step-200: #594e61;
  --ion-color-step-250: #64596b;
  --ion-color-step-300: #6e6475;
  --ion-color-step-350: #786f7f;
  --ion-color-step-400: #837a89;
  --ion-color-step-450: #8d8593;
  --ion-color-step-500: #98919d;
  --ion-color-step-550: #a29ca6;
  --ion-color-step-600: #aca7b0;
  --ion-color-step-650: #b7b2ba;
  --ion-color-step-700: #c1bdc4;
  --ion-color-step-750: #cbc8ce;
  --ion-color-step-800: #d6d3d8;
  --ion-color-step-850: #e0dee1;
  --ion-color-step-900: #eae9eb;
  --ion-color-step-950: #f5f4f5;

  --color: var(--text-color);

  --ion-border-color: var(--light-greyish-purple);
  --ion-item-background: var(--light-greyish-purple);
  --ion-toolbar-background: var(--light-greyish-purple);
  --ion-card-background: var(--light-greyish-purple);

  /* end - temp dark colors until light mode is implemented - end */

  --ion-color-primary: #c86bfa;
  --ion-color-primary-rgb: 200, 107, 250;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b05edc;
  --ion-color-primary-tint: #d184fb;
  --ion-color-primary-lightest: #e4bafc;

  --ion-color-secondary: #6930c3;
  --ion-color-secondary-rgb: 105, 48, 195;
  --ion-color-secondary-dark: #4d248f;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5c2aac;
  --ion-color-secondary-tint: #7845c9;

  --ion-color-tertiary: #19e6ac;
  --ion-color-tertiary-rgb: 25, 230, 172;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #14b88a;
  --ion-color-tertiary-tint: #73e9c7;

  --offwhite-color: #e8d6ee;
  --ofwhite-color-tint: #f1e6f4;
  --offwhite-color-shade: #dbbee4;
  --offwhite-color-lightest: #f9f4fa;
  --light-greyish-purple: #423949;
  --dark-greyish-purple: #30223a;
  --dark-greyish-purple-overlay: rgba(48, 34, 58, 92%);
  --darkest-purple: #1b0f24;

  --pale-lavender: #c9ade4;
  --light-mauve: #c9ade4;

  --wanikani-purple: #aa00ff;
  --wanikani-pink: #ff00aa;
  --wani-kani-pink-rgb: 255, 0, 170;
  --wani-kani-pink-rgba: rgba(255, 0, 170, 0.065);
  --wanikani-blue: #00aaff;
  --wanikani-blue-rgba: rgba(0, 170, 255, 0.065);
  --wanikani-blue-rgb: 0, 170, 255;

  --wanikani-radical: #0af;
  --wanikani-kanji: #f0a;
  --wanikani-vocab: #aa00ff;
  --wanikani-kana-vocab: #8800cc;
  --wanikani-reading: var(--darkest-purple);

  --wanikani-apprentice: #dd0093;
  --wanikani-guru: #882d9e;
  --wanikani-master: #294ddb;
  --wanikani-enlightened: #0093dd;
  --wanikani-burned: #434343;

  --wanikani-review: #00aaff;
  --wanikani-lesson: #ff00aa;

  --deep-purple-accent: #6930c3;
  --light-grey: #5b4f64;

  --ion-color-success-dark: #0f8a67;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-tab-bar-background: var(--ion-color-secondary);
  --ion-tab-bar-background-focused: var(--ion-color-primary-shade);

  /* main theme colors */
  /* --background-color: var(--pale-lavender); */
  --background-color: var(--light-mauve);
  --foreground-color: var(--offwhite-color);
  --text-color: black;
  --focus-color: black;
  /* main theme colors */

  --ion-default-font: "Poppins", sans-serif;
  --japanese-font-family: "Zen Kaku Gothic New", sans-serif;
  --japanese-with-english-fallback-font-family: "Zen Kaku Gothic New", "Poppins",
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  :root {
    --ion-background-color: var(--background-color);
    --ion-text-color: var(--text-color);

    --ion-color-step-50: #3a2d44;
    --ion-color-step-100: #45384e;
    --ion-color-step-150: #4f4358;
    --ion-color-step-200: #594e61;
    --ion-color-step-250: #64596b;
    --ion-color-step-300: #6e6475;
    --ion-color-step-350: #786f7f;
    --ion-color-step-400: #837a89;
    --ion-color-step-450: #8d8593;
    --ion-color-step-500: #98919d;
    --ion-color-step-550: #a29ca6;
    --ion-color-step-600: #aca7b0;
    --ion-color-step-650: #b7b2ba;
    --ion-color-step-700: #c1bdc4;
    --ion-color-step-750: #cbc8ce;
    --ion-color-step-800: #d6d3d8;
    --ion-color-step-850: #e0dee1;
    --ion-color-step-900: #eae9eb;
    --ion-color-step-950: #f5f4f5;

    --color: var(--text-color);

    /* main theme colors */
    --background-color: var(--dark-greyish-purple);
    --foreground-color: var(--light-greyish-purple);
    --text-color: white;
    --focus-color: white;
    /* main theme colors */
  }

  body {
    --ion-background-color: var(--background-color);
    --ion-color-primary: #c86bfa;
    --ion-color-primary-rgb: 200, 107, 250;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #b05edc;
    --ion-color-primary-tint: #ce7afb;

    --ion-color-secondary: #6930c3;
    --ion-color-secondary-rgb: 105, 48, 195;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #5c2aac;
    --ion-color-secondary-tint: #7845c9;

    --ion-color-tertiary: #19e6ac;
    --ion-color-tertiary-rgb: 25, 230, 172;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #0f8a67;
    --ion-color-tertiary-tint: #73e9c7;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --color: var(--text-color);
    --ion-text-color: var(--text-color);
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: var(--background-color);

    --ion-text-color: var(--text-color);
    --color: var(--text-color);

    /* TODO: update color steps */
    --ion-color-step-50: #261b2f;
    --ion-color-step-100: #32273a;
    --ion-color-step-150: #3d3345;
    --ion-color-step-200: #493f50;
    --ion-color-step-250: #544b5b;
    --ion-color-step-300: #5f5766;
    --ion-color-step-350: #6b6371;
    --ion-color-step-400: #766f7c;
    --ion-color-step-450: #827b87;
    --ion-color-step-500: #8d8792;
    --ion-color-step-550: #98939c;
    --ion-color-step-600: #a49fa7;
    --ion-color-step-650: #afabb2;
    --ion-color-step-700: #bbb7bd;
    --ion-color-step-750: #c6c3c8;
    --ion-color-step-800: #d1cfd3;
    --ion-color-step-850: #dddbde;
    --ion-color-step-900: #e8e7e9;
    --ion-color-step-950: #f4f3f4;

    /* TODO: change these once testing iOS */
    --ion-item-background: var(--light-greyish-purple);

    --ion-card-background: var(--light-greyish-purple);
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: var(--background-color);

    --ion-text-color: var(--text-color);
    --color: var(--text-color);

    --ion-color-step-50: #261b2f;
    --ion-color-step-100: #32273a;
    --ion-color-step-150: #3d3345;
    --ion-color-step-200: #493f50;
    --ion-color-step-250: #544b5b;
    --ion-color-step-300: #5f5766;
    --ion-color-step-350: #6b6371;
    --ion-color-step-400: #766f7c;
    --ion-color-step-450: #827b87;
    --ion-color-step-500: #8d8792;
    --ion-color-step-550: #98939c;
    --ion-color-step-600: #a49fa7;
    --ion-color-step-650: #afabb2;
    --ion-color-step-700: #bbb7bd;
    --ion-color-step-750: #c6c3c8;
    --ion-color-step-800: #d1cfd3;
    --ion-color-step-850: #dddbde;
    --ion-color-step-900: #e8e7e9;
    --ion-color-step-950: #f4f3f4;

    --ion-border-color: var(--light-greyish-purple);
    --ion-item-background: var(--light-greyish-purple);
    --ion-toolbar-background: var(--light-greyish-purple);
    --ion-card-background: var(--light-greyish-purple);

    --ion-default-font: "Poppins", sans-serif;
    --japanese-font-family: "Zen Kaku Gothic New", sans-serif;
    --japanese-with-english-fallback-font-family: "Zen Kaku Gothic New",
      "Poppins", sans-serif;
  }
}

/* Fallback for older browsers or manual mode */
body.dark {
  /* Dark mode variables go here */

  --ion-color-primary: #c86bfa;
  --ion-color-primary-rgb: 200, 107, 250;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b05edc;
  --ion-color-primary-tint: #ce7afb;

  --ion-color-secondary: #6930c3;
  --ion-color-secondary-rgb: 105, 48, 195;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5c2aac;
  --ion-color-secondary-tint: #7845c9;

  --ion-color-tertiary: #19e6ac;
  --ion-color-tertiary-rgb: 25, 230, 172;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #0f8a67;
  --ion-color-tertiary-tint: #73e9c7;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-text-color: var(--text-color);
  --color: var(--text-color);
}

ion-tab-bar {
  --color: var(--text-color);
  --color-selected: white;
  --background: var(--ion-color-secondary);
}

ion-tab-button {
  --ripple-color: var(--ion-color-medium);
  --color: var(--text-color);
  --color-selected: white;
}

ion-tab-button.tab-selected {
  --background: var(--ion-color-secondary-dark);
}
