.contentPadding {
  --padding-start: var(--ion-padding, 0px);
  --padding-end: var(--ion-padding, 5px);
  --padding-top: var(--ion-padding, 5px);
  --padding-bottom: var(--ion-padding, 5px);
  padding-inline-start: var(--ion-padding, 5px);
  padding-inline-end: var(--ion-padding, 5px);
  padding-top: var(--ion-padding, 5px);
  padding-bottom: var(--ion-padding, 5px);
}
