.radicalDiv {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 12px;
  background-color: var(--wanikani-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.radicalDiv img {
  height: 2.5rem;
  width: 2.5rem;
}

@media (prefers-color-scheme: dark) {
  .radicalDiv img {
    filter: brightness(0) invert(1);
  }
}
