.subjectDetailPg {
  position: relative;
  --ion-background-color: var(--light-greyish-purple);
  background-color: var(--light-greyish-purple);
}

.cardRow ion-item::part(native) {
  padding: 0;
}

.cardRow ion-col {
  flex-grow: 0;
}

.cardRow ion-badge {
  height: 3rem;
  width: 3rem;
  line-height: 1.3;
  font-size: 2rem;
  border-radius: 12px;
}

.badgeCol ion-item {
  --inner-padding-end: 0px;
}

.fullWidthGrid {
  margin: 0;
  padding: 0;
}

h3:first-of-type {
  margin-top: 5px;
}
