.srsLevel {
  color: white;
  padding: 5px;
  border-radius: 12px;

  &.locked {
    background-color: var(--light-greyish-purple);
  }

  &.initiate {
    background: var(--ion-color-primary);
  }

  &.apprentice {
    background: var(--wanikani-apprentice);
  }

  &.guru {
    background: var(--wanikani-guru);
  }

  &.master {
    background: var(--wanikani-master);
  }

  &.enlightened {
    background: var(--wanikani-enlightened);
  }

  &.burned {
    background: var(--wanikani-burned);
  }
}

.timeTill {
  padding: 5px;
  border-radius: 12px;
  background: var(--ion-color-tertiary);
  color: var(--dark-greyish-purple);
}

.srsContainer {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  padding: 5px 0;

  p {
    margin: 5px 0;
  }
}
