ion-button.lessonBtn {
  min-height: 4.75rem;
  height: 100%;
  border-radius: 8px;
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--wanikani-pink);
}

.lessonBtnTxt {
  position: absolute;
  top: 3.125rem;
  left: 0;
}

ion-skeleton-text.lessonSkeleton {
  min-height: 4.75rem;
  height: 100%;
  border-radius: 8px;
  --background: var(--wani-kani-pink-rgba);
  --background-rgb: var(--wani-kani-pink-rgb);
}

.lessonBtnBadge {
  position: absolute;
  top: 3.5rem;
  right: 0;
  background-color: var(--deep-purple-accent);
}

@media (prefers-color-scheme: dark) {
  .lessonBtnTxt,
  .lessonBtnBadge {
    color: white;
  }
}
