$loadingColor: var(--wanikani-pink);

.container {
  width: 100%;
  border: 2px solid $loadingColor;
  margin: 10px 0;
  border-radius: 10px;
}

.contents,
.bar {
  height: 20px;
}

.backdrop {
  position: relative;
  background-color: $loadingColor;
  border-radius: 10px;
}

.source {
  mix-blend-mode: screen;
}

.barBg {
  background-color: white;
  border-radius: 10px;
}

.bar {
  background-color: black;
  border-radius: 10px;
}

.contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  mix-blend-mode: difference;
}
