ion-button.reviewBtn {
  min-height: 4.75rem;
  height: 100%;
  border-radius: 8px;
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--wanikani-blue);
}

.reviewBtnTxt {
  position: absolute;
  top: 3.125rem;
  left: 0;
}

.reviewBtnBadge {
  position: absolute;
  top: 3.5rem;
  right: 0;
  background-color: var(--deep-purple-accent);
}

@media (prefers-color-scheme: dark) {
  .reviewBtnTxt,
  .reviewBtnBadge {
    color: white;
  }
}
