.subjDefLoading {
  height: 2rem;
}

.cardRow ion-item::part(native) {
  padding: 0;
}

.cardRow ion-col {
  flex-grow: 0;
}

.cardRow ion-badge {
  height: 3rem;
  width: 3rem;
  line-height: 1.3;
  font-size: 2rem;
  border-radius: 12px;
}

.badgeCol ion-item {
  --inner-padding-end: 0px;
}
