.badgeCol ion-item {
  --inner-padding-end: 0px;
}

.subjContainer {
  background-color: var(--dark-greyish-purple);
  position: relative;

  &::after {
    content: "";
    position: absolute;

    background-color: transparent;
    bottom: -50px;
    left: 0;
    height: 50px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--dark-greyish-purple);
  }
}

.radical {
  background-color: var(--wanikani-radical);
}

.kanji {
  background-color: var(--wanikani-kanji);
}

.vocabulary {
  background-color: var(--wanikani-purple);
}
