<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppSecret</key>
    <string>${APP_SECRET_VALUE}</string>
    <key>LogLevel</key>
    <integer>2</integer>
    <key>AnalyticsEnableInJs</key>
    <false/>
    <key>AnalyticsTransmissionInterval</key>
    <integer>3</integer>
    <key>CrashesEnableInJs</key>
    <false/>
    <key>CrashesAlwaysSend</key>
    <false/>
</dict>
</plist>